<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table th:border="1">
        <thread>
            <tr>
                <th scope="col">Series</th>
                <th scope="col">Number</th>
                <th scope="col">Owner</th>
            </tr>
        </thread>
        <tbody>
            <tr th:each="car: ${cartable}">
                <td th:text="${car.series}"/>
                <td th:text="${car.number}"/>
                <td th:text="${car.owner}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>